<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pack.mapper.ImportMapper">    
    <select id="selectAll" resultType="LogiImportVo">
        SELECT * 
        from Import
    </select>
    
    <select id="selectByInstNo" parameterType="String" resultType="LogiImportVo">
        SELECT * 
        from Import
        where instruction_no=#{instructionNo};
    </select>
    
    <select id="selectSome" parameterType="LogiImportSearchDTO" resultType="LogiImportVo">
    	select *
    	from Import
    	where
    	<if test='status != null and status neq ""'>status=#{status} and</if>
    	<if test='location != null and location neq ""'>location=#{location} and</if>
    	<if test='product_family != null and product_family neq ""'>product_family=#{product_family} and</if>
    	<if test='lot_no != null and lot_no neq ""'>lot_no like CONCAT('%',#{lot_no},'%') and</if>
    	<if test='item_no != null and item_no neq ""'>item_no like CONCAT('%',#{item_no},'%') and</if>
    	<if test='item_name != null and item_name neq ""'>item_name=#{item_name} and</if>
    	<if test='to_warehouse != null and to_warehouse neq ""'>to_warehouse=#{to_warehouse} and</if>
    	<if test='unit != null and unit neq ""'>unit=#{unit} and</if>
    	<if test='order_date != null and order_date neq ""'>order_date=#{order_date} and</if>
    	<if test='target != null and target neq ""'>target= like CONCAT('%',#{target},'%') and</if>
    	<if test='inst_reg_date != null and inst_reg_date neq ""'>inst_reg_date=#{inst_reg_date} and</if>
    	<if test='inst_deadline != null and inst_deadline neq ""'>inst_deadline=#{inst_deadline} and</if>
    	<if test='done_date != null and done_date neq ""'>done_date=#{done_date} and</if>
    	(weight between #{min_weight} and #{max_weight}) and
    	(thickness between #{min_thickness} and #{max_thickness}) and
    	(height between #{min_height} and #{max_height}) and
    	(order_amount between #{min_order_amount} and #{max_order_amount}) and
    	(im_amount between #{min_im_amount} and #{max_im_amount}) and
    	(width between #{min_width} and #{max_width})
    </select>
    
    <insert id="insert" parameterType="LogiImportDTO">
        INSERT
        INTO Import 
        VALUES (
        	#{status},
        	#{location},
        	#{instruction_no},
        	#{product_family},
        	#{lot_no},
        	#{item_no},
        	#{item_name},
        	#{amount},
        	#{weight},
        	#{unit},
        	#{target},
        	#{width},
        	#{thickness},
        	#{height},
        	#{order_amount},
        	#{im_amount},
        	#{to_warehouse},
        	#{order_date},
        	#{inst_reg_date},
        	#{inst_deadline},
        	#{done_date}
        );
    </insert>
    
    <delete id="delete" parameterType="String">
	    delete
		from Import
		where instruction_no=#{instructionNo};
    </delete>
    
    <delete id="deletes" parameterType="List">
    	<foreach collection="logiImportDeleteList" item="instructionNo" index="index">
		    delete
			from Import
			where instruction_no=#{instructionNo};
		</foreach>
    </delete>
    
    <update id="confirm" parameterType="String">
    	UPDATE Import 
    	SET status = "입고완료" 
    	WHERE instruction_no=#{instructionNo};
    </update>
</mapper>