<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pack.mapper.ImportMapper">    
    <select id="selectAll" resultType="LogiImportVo">
        SELECT * 
        from Import
    </select>
    
    <select id="selectByInstNo" parameterType="String" resultType="LogiImportVo">
        SELECT * 
        from Import
        where instruction_no=#{instructionNo};
    </select>
    
    <select id="selectSome" parameterType="LogiImportSearchDTO" resultType="LogiImportVo">
    	select *
    	from Import
    	where
    	<if test='status != null and status neq "전체보기"'>status=#{status} and</if>
    	<if test='location != null and location neq "전체보기"'>location=#{location} and</if>
    	<if test='product_family != null and product_family neq "전체보기"'>product_family=#{product_family} and</if>
    	<if test='lot_no != null and lot_no neq "전체보기"'>lot_no like CONCAT('%',#{lot_no},'%') and</if>
    	<if test='item_code != null and item_code neq "전체보기"'>item_code like CONCAT('%',#{item_code},'%') and</if>
    	<if test='item_name != null and item_name neq "전체보기"'>item_name=#{item_name} and</if>
    	<if test='to_warehouse != null and to_warehouse neq "전체보기"'>to_warehouse=#{to_warehouse} and</if>
    	<if test='unit != null and unit neq "전체보기"'>unit=#{unit} and</if>
    	<if test='order_date != null and order_date neq "전체보기"'>order_date=#{order_date} and</if>
    	<if test='customer != null and customer neq "전체보기"'>customer= like CONCAT('%',#{customer},'%') and</if>
    	<if test='inst_reg_date != null and inst_reg_date neq "전체보기"'>inst_reg_date=#{inst_reg_date} and</if>
    	<if test='inst_deadline != null and inst_deadline neq "전체보기"'>inst_deadline=#{inst_deadline} and</if>
    	<if test='done_date != null and done_date neq "전체보기"'>done_date=#{done_date} and</if>
    	(weight between #{min_weight} and #{max_weight}) and
    	(thickness between #{min_thickness} and #{max_thickness}) and
    	(height between #{min_height} and #{max_height}) and
    	(order_amount between #{min_order_amount} and #{max_order_amount}) and
    	(im_amount between #{min_im_amount} and #{max_im_amount}) and
    	(width between #{min_width} and #{max_width})
    </select>
    
    <insert id="insert" parameterType="LogiImportDTO">
        INSERT
        INTO Import 
        VALUES (
        	#{instruction_no},
        	#{status},
        	#{lot_no},
        	#{item_code},
        	#{item_name},
        	#{order_amount},
        	#{im_amount},
        	#{unit},
        	#{weight},
        	#{width},
        	#{thickness},
        	#{height},
        	#{industry_family},
        	#{product_family},
        	#{location},
        	#{to_warehouse},
        	#{customer},
        	#{order_date},
        	#{inst_reg_date},
        	#{inst_deadline},
        	#{done_date}
        );
    </insert>
    
    <delete id="delete" parameterType="String">
	    delete
		from Import
		where instruction_no=#{instructionNo};
    </delete>
    
    <delete id="deletes" parameterType="List">
    	<foreach collection="logiImportDeleteList" item="instructionNo" index="index">
		    delete
			from Import
			where instruction_no=#{instructionNo};
		</foreach>
    </delete>
    
    <update id="confirm" parameterType="String">
    	UPDATE Import 
    	SET status = "입고완료" , done_date=now()
    	WHERE instruction_no=#{instructionNo};
    </update>
    
    <select id="selectByLotNo" parameterType="String" resultType="LogiImportVo">
        SELECT * 
        from Import
        where lot_no=#{lot_no};
    </select>
</mapper>